<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                        
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31451673?query=java%20Odessa">Senior Java Developer / ElectricAccelerator</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31392203?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31101124?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">MaxBill</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438033?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438045?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438049?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438055?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31177085?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31448160?query=java%20Odessa">Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31309554?query=java%20Odessa">Senior JAVA / Scala Developer (blockchain) #7622</a></td> 
     <td class="city"></td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/30744939?query=java%20Odessa">Java Script разработчик на Playable</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Плейджендари Девелопмент</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31139473?query=java%20Odessa">JAVA and Atlassian Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31054776?query=java%20Odessa">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31392202?query=java%20Odessa">Front-end Developer / Ember.js</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31346305?query=java%20Odessa">Front-end Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/30412613?query=java%20Odessa">Middle and Senior Javascript Developer (Angular)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31337285?query=java%20Odessa">Middle Firmware Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО CИИ УКРАИНА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31249131?query=java%20Odessa">Team Lead Java for CLN</a></td> 
     <td class="city"></td> 
     <td class="companyName">Cloud Linux</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31340523?query=java%20Odessa">Linux администратор</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31340517?query=java%20Odessa">Начальник отдела администрирования</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31269111?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31269933?query=java%20Odessa">Junior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Oxiwyle</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31101101?query=java%20Odessa">Full Stack Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">MaxBill</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29781963?query=java%20Odessa">Водитель</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050758">Project Manager</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">King Bird Studio</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046719">Разработчик мобильных приложений (Android, iOS)</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048229">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049781">Преподаватель авторизованных курсов Oracle (Java, Siebel)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РДТЕХ</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048986">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ВТБ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050726">Разработчик ПО в Японию</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">TalentEx</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050761">Backend - разработчик (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">101XP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046270">DevOps инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050757">Unity-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AI People</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050098">Ведущий Java разработчик/ Java Backend/ Java разработчик/ Senior Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">EmDev</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050473">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050307">Hyperledger разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Инносети</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 35 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034935">Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">До 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050729">Руководитель направления (java)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039958">Kotlin/Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049723">Разработчик мобильных компонентов</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050712">Java Developer</a></td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">Finnplay Technologies Oy</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050078">Data Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Droice Labs</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049130">Backend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049146">Frontend разработчик</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049127">Frontend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050255">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManyChat</td> 
     <td class="salary">От 180 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050717">Разработчик iOS / OSX</a></td> 
     <td class="city"></td> 
     <td class="companyName">CYBERZILLA-PRIVACY</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047585">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050758">Project Manager</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">King Bird Studio</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046719">Разработчик мобильных приложений (Android, iOS)</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048229">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049781">Преподаватель авторизованных курсов Oracle (Java, Siebel)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РДТЕХ</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048986">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ВТБ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050726">Разработчик ПО в Японию</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">TalentEx</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050761">Backend - разработчик (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">101XP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046270">DevOps инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050757">Unity-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AI People</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050098">Ведущий Java разработчик/ Java Backend/ Java разработчик/ Senior Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">EmDev</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050473">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050307">Hyperledger разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Инносети</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 35 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034935">Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">До 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050729">Руководитель направления (java)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039958">Kotlin/Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049723">Разработчик мобильных компонентов</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050712">Java Developer</a></td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">Finnplay Technologies Oy</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050078">Data Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Droice Labs</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049130">Backend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049146">Frontend разработчик</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049127">Frontend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050255">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManyChat</td> 
     <td class="salary">От 180 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050717">Разработчик iOS / OSX</a></td> 
     <td class="city"></td> 
     <td class="companyName">CYBERZILLA-PRIVACY</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047585">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043978">Senior QA Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Acme Crypto Corp</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043199">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050449">Senior Android Developer/Tech Lead (MobileApp)</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Hunt4You</td> 
     <td class="salary">До 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044154">Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050101">Инженер по автоматизированному тестированию</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050565">Senior Android Developer (UCC)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 200 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026581">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 180 000 до 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050566">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 180 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049270">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050693">QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050690">Senior Android-developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Орбита</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049251">Опытный мобильный разработчик (React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">datarockets</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050349">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Denim-app</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050646">Мобильный разработчик React Native (Middle/Senior)</a></td> 
     <td class="city"></td> 
     <td class="companyName">The Single</td> 
     <td class="salary">До 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050636">Системный администратор Linux</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NPBFX</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049145">Backend разработчик</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050554">Vue.js Full Stack Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MEF Moscow</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045453">Golang Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.travel</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050602">Team Leader Java-Developer</a></td> 
     <td class="city">Орел</td> 
     <td class="companyName">SENLA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049966">Java Developer</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Accenture</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048386">Tech lead Hadoop</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050573">Android Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Evrone.com</td> 
     <td class="salary">От 100 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048977">Native Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Студия Олега Чулакова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046527">WEB-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Холдинг GLORYON</td> 
     <td class="salary">От 70 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049860">Java-разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Кубань Информ Холдинг-Юг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048817">Java Developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050552">Старший Android Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BestDoctor</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050550">Ведущий специалист по тестированию производительности</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048891">Ведущий программист Java</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Инносети</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049727">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050519">Java разработчик уровня senior/regular</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">i-Sys</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049475">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Ready for Sky</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050495">DAG / Blockchain разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">LUNU Solutions GmbH</td> 
     <td class="salary">От 2 000 до 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049808">Администратор Hadoop</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО "Промсвязьбанк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050488">Staff Software Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">SimpleTexting</td> 
     <td class="salary">От 3 000 до 7 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049207">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">aviasales.ru</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044146">Программист 1С Битрикс</a></td> 
     <td class="city"></td> 
     <td class="companyName">Студия DENISOV</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033342">Android Developer (Kotlin)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Константа</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050480">Quantitative developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050479">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИНФИНИТУМ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050478">Системный аналитик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044483">Team Lead (с бекграундом мобильной разработки)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Mobecan</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046979">Middle Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050466">Senior Android developer (TeamLead)</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Innopolis City</td> 
     <td class="salary">От 160 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050462">Android-разработчик в студии мобильной разработки</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Live Typing</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050458">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Рокетбанк</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050447">middle java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Лига Цифровой Экономики</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048235">Программист Java / Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047917">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047783">Старший разработчик MSA (Micro services architecture)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047880">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039491">Fullstack Java Developer (Products Department)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Actimind</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045055">Java/Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">УК "Помощь"</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050400">Java-разработчик (Junior/Middle/Senior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechnoDiasoft</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050076">Преподаватель компьютерных/IT курсов, программирования, робототехники</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Московская школа программистов</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050382">Senior java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Лига Цифровой Экономики</td> 
     <td class="salary">От 110 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050381">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Alpaca Dev Studio</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045984">Java Back-end Developer (full time работа)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SLEKI</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045873">Разработчик Oracle</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043016">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИнЭкс</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050359">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">IITD Group</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050355">Ведущий разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049631">Android-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">ЭЛКОМ+</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050316">Fullstack Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>