<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>   
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31451673?query=java%20Odessa">Senior Java Developer / ElectricAccelerator</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31392203?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31101124?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">MaxBill</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438033?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438045?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438049?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31438055?query=java%20Odessa">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31177085?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31448160?query=java%20Odessa">Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31309554?query=java%20Odessa">Senior JAVA / Scala Developer (blockchain) #7622</a></td> 
     <td class="city"></td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/30744939?query=java%20Odessa">Java Script разработчик на Playable</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Плейджендари Девелопмент</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31139473?query=java%20Odessa">JAVA and Atlassian Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31054776?query=java%20Odessa">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31392202?query=java%20Odessa">Front-end Developer / Ember.js</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31346305?query=java%20Odessa">Front-end Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/30412613?query=java%20Odessa">Middle and Senior Javascript Developer (Angular)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31337285?query=java%20Odessa">Middle Firmware Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО CИИ УКРАИНА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31249131?query=java%20Odessa">Team Lead Java for CLN</a></td> 
     <td class="city"></td> 
     <td class="companyName">Cloud Linux</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31340523?query=java%20Odessa">Linux администратор</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31340517?query=java%20Odessa">Начальник отдела администрирования</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31269111?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31269933?query=java%20Odessa">Junior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Oxiwyle</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/31101101?query=java%20Odessa">Full Stack Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">MaxBill</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29781963?query=java%20Odessa">Водитель</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>